html,
body {
  padding: 0;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}

main {
  padding: 24px;
  max-width: 880px;
  margin: 0 auto;
}

a {
  color: inherit;
}

